<!-- <po-modal p-title="Cadastro de Lembrete" [p-primary-action]="confirm" [p-secondary-action]="close">
    <form #optionsForm="ngForm">
        <div class="po-row">
            <po-input p-label="Título:" name="string" p-pattern="string" p-placeholder="Título do Lembrete." p-required>
            </po-input>
        </div>

        <div class="po-row">
            <po-combo class="po-md-12" (ngModel)="reminder" name="reminderPriority" p-label="Prioridade:"
                [p-options]="reminderOptions">
            </po-combo>
        </div>

        <div class="po-row">
            <po-textarea class="po-md-12" name="reminderDescription" [(ngModel)]="orderDetail" p-label="Descrição:"
                p-placeholder="Descrição do Lembrete.">
            </po-textarea>
        </div>
    </form>
    <po-modal-footer [p-disabled-align]="false">
        <po-button 
            p-kind="primary" 
            *ngIf="!this.reminderId"
            p-label="Salvar" 
            (p-click)="insertReminder()"> 
        </po-button>
        <po-button p-kind="secundary" p-label="Cancelar" (p-click)="closeModal()"> </po-button>
    </po-modal-footer>
</po-modal> -->